{% extends 'core/base.html' %}
{% block title%}CODERC - Nosotros{% endblock %}

{%block activeNavbarAbout%}active{% endblock %}

{% block header %}
{% load static %}
<!-- Header -->
<header class="header header-inverse h- pb-80" style="background-image: url({% static 'core/assets/img/about1.jpg'%});">
  <div class="container text-center">

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <h1>¿Cómo estás?... Somos el Equipo QUILEIA</h1>
        <p class="fs-20 opacity-70"><b><i>Agradecemos tu visita, te invitamos a conocer más de nosotros.</i></b></p>

      </div>
    </div>

  </div>
</header>
<!-- END Header -->
{% endblock %}


{% block mainContainer %}
{% load static %}
<!-- Main container -->
<main class="main-content">




  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Mission
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section py-150">
    <div class="container">

      <div class="row">

        <div class="col-12 col-lg-6 pl-50 pr-80">
          <h2>Misión</h2>
          <p class="lead">Impulsamos el desarrollo social y tecnológico de Colombia,
            mediante la gestión, asesoría, formulación, evaluación y el liderazgo efectivo de proyectos.</p>

          <h2>Visión 2023</h2>
          <p class="lead"> Seremos reconocidos en Colombia por la efectiva gestión, asesoría, formulación, evaluación y
            liderazgo de más de 30 proyectos.</p>
          <br>

          <!--        <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Deliver a high quality web design</span>
              </p>

              <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Support our customers once signing a contract</span>
              </p>

              <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Streamline an expanded array of web</span>
              </p>

              <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Pursue web-enabled niche markets with professionals</span>
              </p>
    !-->
        </div>


        <div class="col-lg-6 hidden-md-down align-self-center">
          <img class="shadow-3" src="{% static 'core/assets/img/aboutQuileia.jpg'%}" alt="..." data-aos="fade-left" data-aos-duration="1500">
        </div>

      </div>


    </div>
  </section>






  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Services
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section bg-gray">
    <div class="container">
      <header class="section-header">
        <small>¿Qué Ofrecemos?</small>
        <h2>Servicios</h2>
        <hr>
        <p class="fs-15">Apoyamos la Productividad de las empresas con desarrollo web y uso aplicado de nuevas tecnologias como la inteligencia artificial.</p>
      </header>


      <div class="row gap-y">

        <div class="col-12 col-md-6 col-xl-4 text-center">
          <p class="fs-50 text-primary"><i class="ti-headphone-alt"></i></p>
          <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Asesoría</h6>
          <p>La productividad y competitividad se hacen reales cuando planificas tus objetivos y tomas acción de manera
            estratégica. Te apoyamos con profesionales de alto nivel</p>
        </div>

        <div class="col-12 col-md-6 col-xl-4 text-center">
          <p class="fs-50 text-danger"><i class="ti-desktop"></i></p>
          <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Desarrollo</h6>
          <p>Brindamos la oportunidad de implementar tecnologias en pro de ayudarte a conseguir tus objetivos.</p>
        </div>



        <div class="col-12 col-md-6 col-xl-4 text-center">
          <p class="fs-50 text-warning"><i class="ti-medall"></i></p>
          <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Capacitación</h6>
          <p>Seminarios, talleres, cursos y diplomados orientados por expertos en gestión de Proyectos.</p>
        </div>



      </div>


    </div>
  </section>








  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Team
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section">
    <div class="container">
      <header class="section-header">
        <small>Equipo</small>
        <h2>Profesionalísmo y experiencia a tu servicio</h2>
        <hr>
        <p class="lead">Conoce a los seres humanos que lideran el equipo QUILEIA.</p>
      </header>


      <div class="row gap-y">
        <div class="col-12 col-md-4 team-2">
          <a href="#">
            <img src="{% static 'core/assets/img/cesar.jpg'%}" alt="...">
          </a>
          <h5>Ing. Cesas A. Palacios.</h5>
          <small>Director</small>
          <p>Ingeniero Electronico - Desarrollador Senior Java.<br>CEO QUILEIA SAS</p>
          <br>
          <div class="social social-boxed social-rounded social-gray">
          </div>
        </div>

        <div class="col-12 col-md-4 team-2">
          <a href="#">
            <img src="{%static 'core/assets/img/avatar.jpg'%}" alt="...">
          </a>
          <h5>El socio de Cesar</h5>
          <small>Socio</small>
          <p></p>
          <br>
          <div class="social social-boxed social-rounded social-gray">
          </div>
        </div>


        <div class="col-12 col-md-4 team-2">
          <a href="https://www.claudia-lopez.com/">
            <img src="{% static 'core/assets/img/claudia.jpg'%}" alt="">
          </a>
          <h5>Claudia Lopez</h5>
          <small>Alcaldeza electa de Bogota</small>
          <p>Con Claudia de una.</p>
          <br>
          <div class="social social-boxed social-rounded social-gray">
            <a class="social-facebook" href="https://www.facebook.com/ClaudiaLopezCL/"><i
                class="fa fa-facebook"></i></a>
            <a class="social-twitter" href="https://www.instagram.com/claudialopezcl/"><i
                class="fa fa-instagram"></i></a>
            <a class="social-twitter" href="https://twitter.com/ClaudiaLopez?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
            <a class="social-linkedin" href="https://www.linkedin.com/in/andres-insuasty-13a783169/"><i
                class="fa fa-linkedin"></i></a>
          </div>
        </div>




      </div>
  </section>







</main>
<!-- END Main container -->


<section class="section" style="background-color: #F9F9F9">
  <div class="container">
    <header class="section-header">
      <h2>Clientes QUILEIA</h2>
      <hr>
      <p class="lead">La mejor carta de presentación es la Satisfacción de nuestros Clientes.</p>
    </header>


    <div class="swiper-container partner" data-autoplay="1000" data-slides-per-view="4">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-1.png'%}" alt="..."></div>
        <!-- <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-2.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-3.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-4.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-5.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-6.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-7.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-8.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-9.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-10.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-11.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-12.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-13.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-14.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-15.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-16.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-17.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-18.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-19.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-20.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-21.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-22.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-23.png'%}" alt="..."></div>
        <div class="swiper-slide"><img src="{% static 'core/assets/img/partner-24.png'%}" alt="..."></div> -->
      </div>

      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>







</main>
<!-- END Main container -->
{% endblock %}